.frame1-container {
  min-height: 100vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.frame1-frame1 {
  width: 1920px;
  height: 3800px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: auto;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-rectangle3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3756px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.frame1-credits {
  top: 3772px;
  left: 13px;
  width: 1172px;
  height: 19px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-text {
  top: 1px;
  left: 0px;
  color: rgba(106, 106, 106, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text001 {
  color: rgba(128, 105, 105, 1);
  right: -436px;
  width: 100%;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text002 {
  color: rgba(128, 105, 105, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text003 {
  color: rgba(128, 105, 105, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: underline;
}
.frame1-text004 {
  color: rgba(128, 105, 105, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.frame1-projects {
  top: 1989px;
  left: 45px;
  width: 1826px;
  height: 740px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.frame1-text005 {
  top: 17px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Franklin Gothic Medium;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text006 {
  top: 170px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text007 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text009 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text014 {
  top: 89px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text015 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text016 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-image {
  top: 33px;
  left: 230px;
  width: 71px;
  height: 49px;
  position: absolute;
  object-fit: cover;
}
.frame1-projects1 {
  left: 50px;
  width: 1685px;
  bottom: -70px;
  height: 467px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.frame1-link {
  display: contents;
}
.frame1-midnightcherries {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.frame1-sprite00071 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-cherries1 {
  top: 23px;
  left: 71px;
  width: 78px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-midnight2 {
  top: 11px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown {
  top: 3px;
  left: 198px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock1 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird1 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown01 {
  top: 136px;
  left: 198px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock101 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird101 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown02 {
  top: 136px;
  left: 0px;
  width: 143px;
  height: 331px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock102 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird102 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown03 {
  top: 133px;
  left: 0px;
  width: 143px;
  height: 198px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock103 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird103 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown04 {
  top: 133px;
  left: 0px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock104 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird104 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown05 {
  top: 269px;
  left: 198px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock105 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird105 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown06 {
  top: 402px;
  left: 198px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock106 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird106 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown07 {
  top: 3px;
  left: 390px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock107 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird107 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown08 {
  top: 136px;
  left: 390px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock108 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird108 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown09 {
  top: 269px;
  left: 390px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock109 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird109 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown10 {
  top: 402px;
  left: 390px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock110 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird110 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown11 {
  top: 3px;
  left: 582px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock111 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird111 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown12 {
  top: 136px;
  left: 582px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock112 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird112 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown13 {
  top: 269px;
  left: 582px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock113 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird113 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown14 {
  top: 402px;
  left: 582px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock114 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird114 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown15 {
  top: 3px;
  left: 774px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock115 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird115 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown16 {
  top: 136px;
  left: 774px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock116 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird116 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown17 {
  top: 269px;
  left: 774px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock117 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird117 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown18 {
  top: 402px;
  left: 774px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock118 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird118 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown19 {
  top: 3px;
  left: 966px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock119 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird119 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown20 {
  top: 136px;
  left: 966px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock120 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird120 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown21 {
  top: 269px;
  left: 966px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock121 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird121 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown22 {
  top: 402px;
  left: 966px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock122 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird122 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown23 {
  top: 3px;
  left: 1158px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock123 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird123 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown24 {
  top: 136px;
  left: 1158px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock124 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird124 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown25 {
  top: 269px;
  left: 1158px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock125 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird125 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown26 {
  top: 402px;
  left: 1158px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock126 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird126 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown27 {
  top: 3px;
  left: 1350px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock127 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird127 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown28 {
  top: 136px;
  left: 1350px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock128 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird128 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown29 {
  top: 269px;
  left: 1350px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock129 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird129 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown30 {
  top: 402px;
  left: 1350px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock130 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird130 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown31 {
  top: 3px;
  left: 1542px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock131 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird131 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown32 {
  top: 136px;
  left: 1542px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock132 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird132 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown33 {
  top: 269px;
  left: 1542px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock133 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird133 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-unknown34 {
  top: 402px;
  left: 1542px;
  width: 143px;
  height: 65px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-lock134 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-weird134 {
  top: 8px;
  left: 71px;
  width: 72px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-image1 {
  left: 652px;
  width: 307px;
  bottom: -195px;
  height: 61px;
  position: absolute;
  object-fit: cover;
}
.frame1-contact {
  top: 3030px;
  left: 49px;
  width: 1823px;
  height: 664px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.frame1-text017 {
  top: 62px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Franklin Gothic Medium;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text018 {
  top: 135px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 1316px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-contacticons {
  top: 299px;
  left: 3px;
  width: 1039px;
  height: 365px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-link01 {
  display: contents;
}
.frame1-dicork1 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-websitk1 {
  top: 256px;
  left: 736px;
  width: 67px;
  height: 67px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-phonk1 {
  top: 6px;
  left: 731px;
  width: 71px;
  height: 71px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-link02 {
  display: contents;
}
.frame1-youtuk1 {
  top: 144px;
  left: 739px;
  width: auto;
  height: 61px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-link03 {
  display: contents;
}
.frame1-twittek1 {
  left: 374px;
  width: 71px;
  bottom: 35px;
  height: 71px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-link04 {
  display: contents;
}
.frame1-steak1 {
  top: 132px;
  left: 369px;
  width: 73px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-link05 {
  display: contents;
}
.frame1-reddik1 {
  top: 5px;
  left: 369px;
  width: 73px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-emaik1 {
  top: 130px;
  left: 0px;
  width: 75px;
  height: 75px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-link06 {
  display: contents;
}
.frame1-githuk1 {
  top: 253px;
  left: 2px;
  width: 73px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.frame1-text019 {
  top: 46px;
  left: 90px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text020 {
  top: 305px;
  left: 90px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text021 {
  top: 180px;
  left: 90px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text022 {
  top: 53px;
  left: 458px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text023 {
  top: 190px;
  left: 458px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text024 {
  top: 305px;
  left: 458px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text025 {
  top: 604px;
  left: 810px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text026 {
  color: rgba(255, 255, 255, 1);
  width: 451px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: underline;
}
.frame1-text027 {
  color: rgba(255, 255, 255, 1);
  width: 451px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text028 {
  top: 483px;
  left: 818px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text029 {
  top: 361px;
  left: 818px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-image2 {
  top: 61px;
  left: 212px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.frame1-section1 {
  top: -100px;
  left: 0px;
  width: 1843px;
  height: 303px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.frame1-text030 {
  top: 200px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 1322px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text042 {
  top: 35.5289306640625px;
  left: 6.023776054382324px;
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Franklin Gothic Medium;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text043 {
  top: 103.62617492675781px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 1321px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-image3 {
  top: 36px;
  left: 173px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.frame1-section2 {
  top: 330px;
  left: 150px;
  width: 1427px;
  height: 383.91119384765625px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.frame1-link07 {
  display: contents;
}
.frame1-notion {
  top: 236px;
  right: 171px;
  width: 101px;
  height: 103px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
.frame1-text044 {
  top: 247px;
  color: rgba(255, 255, 255, 1);
  right: -14px;
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text045 {
  top: 173.69766235351562px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Cedarville Cursive;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text047 {
  top: 292.1278076171875px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Cedarville Cursive;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text049 {
  left: -105px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  bottom: -40px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: 2;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text073 {
  top: 0px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text074 {
  top: 3px;
  color: rgba(255, 255, 255, 1);
  right: 199px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text075 {
  top: 84px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Cedarville Cursive;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text077 {
  top: 86px;
  color: rgba(255, 255, 255, 1);
  right: -81px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text084 {
  top: 84px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Cedarville Cursive;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text086 {
  top: 120px;
  left: 135px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text087 {
  top: 152px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text088 {
  top: 215px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text089 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text090 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text091 {
  top: 122px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text093 {
  top: 220px;
  left: 499px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text095 {
  left: 496px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  bottom: 27px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text097 {
  top: 311px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text098 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text099 {
  left: 15px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text100 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text101 {
  top: 246px;
  left: 184px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 7px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text102 {
  font-style: normal;
  font-family: Gothic A1;
  font-weight: 400px;
  text-decoration: none;
}
.frame1-text103 {
  top: 0px;
  left: -100px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-image4 {
  left: 704px;
  width: 328px;
  bottom: -185px;
  height: 65px;
  position: absolute;
  object-fit: cover;
}
.frame1-top {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 600px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.frame1-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 600px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-signature {
  top: 31px;
  left: 35px;
  width: 52px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
}
.frame1-quickaccess {
  top: 42px;
  left: 128px;
  width: 231px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame1-text106 {
  top: 0px;
  left: 174px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text107 {
  top: 0px;
  left: 79px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text108 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text109 {
  left: 4px;
  color: rgba(255, 255, 255, 1);
  bottom: 3px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text110 {
  color: rgb(43, 160, 255);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text111 {
  color: rgba(43, 160, 255);
  font-style: normal;
  font-weight: 400px;
  text-decoration: underline;
}
.frame1-text112 {
  color: rgba(43, 160, 255);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: underline;
}
.frame1-text113 {
  color: rgba(43, 160, 255);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text114 {
  color: rgba(43, 160, 255);
  font-style: normal;
  font-weight: 400px;
  text-decoration: underline;
}
.frame1-text115 {
  color: rgba(43, 160, 255);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: underline;
}
.frame1-text116 {
  color: rgba(43, 160, 255);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text117 {
  color: rgba(43, 160, 255);
  font-style: normal;
  font-weight: 400px;
  text-decoration:  underline;
}
.frame1-text118 {
  color: rgba(43, 160, 255);
  font-style: normal;
  font-weight: 400px;
  text-decoration: underline;
}
.frame1-rectangle4 {
  top: 1040.5389404296875px;
  left: 640px;
  width: 1px;
  height: 457px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.frame1-rectangle46 {
  top: 1040.5389404296875px;
  left: 1300px;
  width: 1px;
  height: 457px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.frame1-rectangle5 {
  top: 3000px;
  left: 45.039306640625px;
  width: 1800px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.frame1-rectangle51 {
  top: 1940px;
  left: 45.039306640625px;
  width: 1800px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 1);
}
.frame1-rectangle8 {
  left: 1182px;
  width: 1px;
  bottom: 6px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(147, 147, 147, 1);
}
.frame1-rectangle9 {
  left: 439px;
  width: 1px;
  bottom: 8px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(147, 147, 147, 1);
}
.frame1-text119 {
  color: rgba(128, 105, 105, 1);
  right: 24px;
  bottom: 9px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
